
:root {
  --primary-color: #73c2fc;
  --secondary-color:#FFF0E5;
  --third-color: black;
  /* --heading-font: "Montserrat", sans-serif; */
  --body-font: 'Tektur', sans-serif;


}



body{
    margin: 0 auto;
    padding: 0;
    font-family: var(--body-font);
    background-color: #e5decf;
   
 
}


.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 10px;
 
}

.navbar {
  background-color: var(--night-color);
  overflow: hidden;
  justify-content: center;
}


.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  font-size: 18px;
}

.navbar li {
  float: center;
  padding: 10px;

}

.navbar a {
  color: black;
  text-align: center;
  padding: 9px 9px;
  text-decoration: none;
}

.nav-item a:hover {
  transform: scale(1);
  color: var(--secondary-color);

}

.navbar .active{
 color: var(--primary-color)
}

.hero img{
  border-radius: 70%;
  display: flex;

}

@media screen and (max-width: 400px) {
  .navbar ul {
    flex-direction: row;
    text-align: center;
  }

  .navbar li {
    float: none;
    width: 100%;
  }
  
}

@media screen and (max-width: 600px) {
  .navbar ul {
    flex-direction: row;
    justify-content: center;

  }

  .navbar li {
    float: none;
    width: 100%;
  }

  .about{
  margin-top: 20px;
  display:flex;
  flex-direction: column;
}


}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 50px;
  margin-top:100px;
  transition: 0.5s;
  cursor: pointer;
  font-size: 25px;
}


.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.hero h1 {
  margin-bottom: 30px;
}

.hero img{
  border-radius: 60px;
  margin: 0 auto;
  display: flex;


 
}

.hero__description{
  margin-top: 15px;
}

.about{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  
}


.card {
  
  perspective: 1000px;
  position: relative;
  cursor: pointer; /* Change the cursor to indicate interactivity */
  
}

.card-inner {
  
  transition: transform 0.5s; /* Add a smooth transition for the flip effect */
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg); /* Rotate the card 180 degrees on hover */
}


.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card-back {
  /* Back content (text) styles */
  background-color: var(--primary-color);
  transform: rotateY(180deg); /* Initially, hide the back side of the card */
}

.card-back p {
  padding: 10px;
  text-align: justify;
  color: black;
}

.work .card img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.about-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap:10px;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: center;
}

.about-section p{
  margin-bottom: 10px;

}
.btn-info {
  border-radius: 10px;
  font-size: 15px;
  padding: 15px 20px;
  margin-left: 10px;
  border-color: var(--forth-color);
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  color: var(--primary-color)
}

.footer :hover{
  color: var(--secondary-color);
  transform: scale(1.2);
}

@media (max-width: 900px) {

  
  .main-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
  }

}
 
.card {
  width: 250px; /* Set the width of your card */
  height: 250px; /* Set the height of your card */
  perspective: 1000px; /* Define the depth perspective for the 3D effect */
  position: relative;
  cursor: pointer; /* Change the cursor to indicate interactivity */
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.5s; /* Add a smooth transition for the flip effect */
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg); /* Rotate the card 180 degrees on hover */
}

.card-front-name h1{
  color: #0d1b32;
  font-size: 18px;
  font-weight: bold;
  text-align: center;

}
.card-front-name,
.card-back-name {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-back-name {
  /* Back content (text) styles */
  background-color: var(--third-color);
  transform: rotateY(180deg); /* Initially, hide the back side of the card */
}

.card-back-name p {
  padding: 10px;
  text-align: justify;
  color: black;
}

 .main-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
    
  }

.card img {
  width: 78%;
  height: 78%;
  
}

  .btn-info {
    margin-bottom: 10px;
  }
  .about-grid {
    display: flex;
    flex-direction: column;
  }
  .about-grid p {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
   text-align: justify;

  }
  
  .about-grid h2 {
    text-align: center;
  }

 
.about-section h1, p{
  text-align: justify;

}


@media (max-width: 660px){

   .main-page{
    margin: 0 auto;
    display: flex;
    margin-bottom: 100px;
    margin-top: 100px;
  }

  
  .main-grid{
    display: flex ;
    flex-direction: column;
    justify-content: center;
  }
}


@media (max-width: 550px){

 .main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
  }

  .main-grid{
    display: flex ;
    flex-direction: column;
  }

  
 .card {
  width: 250px; /* Set the width of your card */
  height: 250px; /* Set the height of your card */
  perspective: 1000px; /* Define the depth perspective for the 3D effect */
  position: relative;
  cursor: pointer; /* Change the cursor to indicate interactivity */
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.5s; /* Add a smooth transition for the flip effect */
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg); /* Rotate the card 180 degrees on hover */
}

.card-front-name h1{
  color: #0d1b32;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.card-front-name,
.card-back-name {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-back-name {
  /* Back content (text) styles */
  background-color: var(--third-color);
  transform: rotateY(180deg); /* Initially, hide the back side of the card */
}

.card-back-name p {
  padding: 10px;
  text-align: justify;
  color: black;
}

}

@media (max-width: 450px){

  .main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
  }
  .main-grid {
    display: flex ;
    flex-direction: column;
    margin-bottom: 25px;
  }

  .about-section p {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: justify;

  }
  
}
