* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%; /* Ensure the full height of the viewport is used */
}

/* Home page container */
.home-container {
  display: flex;
  flex-direction: column; /* Stack header, hero, and footer vertically */
  min-height: 100vh; /* Make the container cover the entire viewport */
}

/* Hero container */
.hero-container {
  flex: 1; /* Allow the hero section to grow and take up available space */
  display: flex;
  justify-content: center; /* Center hero horizontally */
  align-items: center; /* Center hero vertically */
  text-align: center; /* Optional: Center the text alignment */
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Ensure the body takes up the full viewport height */
  background-color: #e5decf;
  font-family: 'Share Tech Mono', monospace;
}

.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 20px;
}

#contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_container {
  margin: 50px;
}
.about_details h2 {
  color: #b08bbb;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f0f0f0;
}

.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  font-size: 18px;
}

.navbar li {
  padding: 10px;
}

.navbar a {
  color: black;
  text-align: center;
  padding: 9px 9px;
  text-decoration: none;
}

.filter {
  display: flex;
  align-items: center;
  margin: 20px auto 0 auto;
}

.filter .select {
  border-radius: 20px;
  padding: 10px;
  background-color: #e7cccc;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #fff7d1;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f0c1e1;
  min-width: 160px;
  z-index: 1;
  border-radius: 20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.hero {
  flex: 1; /* Allow the hero to grow and fill the available space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.contact {
  text-align: center;
}

.hero img {
  border-radius: 50%;
  height: 10%;
  width: 10%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.about {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  perspective: 1000px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 400px;
  height: 300px;
  gap: 10px;
  background-color: #c9e6f0;
  border-radius: 20px;
  box-shadow: 2px 4px 5px rgb(216, 139, 139);
}

.card.show {
  transform: translateX(0);
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-back {
  background-color: #fbf8ef;
  transform: rotateY(180deg);
  border-radius: 20px;
}

.card-back p {
  padding: 10px;
  text-align: justify;
  color: black;
}

.work .card img {
  width: 80%;
  height: 80%;
  margin-left: 10%;
  border-radius: 20px;
}

.about-grid {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  margin: 100px 0;
  justify-content: center;
}

.about-grid p,
.about-section p {
  margin-bottom: 10px;
  text-align: justify;
}

.about-grid h2 {
  text-align: center;
}

.about-section h1 {
  text-align: justify;
}

.btn-info {
  border-radius: 10px;
  font-size: 15px;
  padding: 15px 20px;
  margin-left: 10px;
  border-color: var(--forth-color);
}

/* Footer styles */

.footer {
  height: 60px; /* Fixed footer height */
  background-color: #f0f0f0; /* Background color for the footer */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333; /* Footer text color */
}

.nav-item.active {
  background-color: #b08bbb;
  color: black;
  border-radius: 20px;
}

.nav-item.active:hover {
  background-color: #fc4100;
  border: 1px solid black;
}

button {
  border-radius: 30px;
  background-color: #5ab2ff;
}

/* Styles for small screens */

@media screen and (max-width: 425px) {
  .dropbtn {
    background-color: #fff7d1;
    color: black;
    padding: 15px;
    margin-top: 10px;
    font-size: 16px;
    border: none;
  }

  .menu-large {
    display: none !important;
  }

  .hero img {
    height: 33%;
    width: 33%;
  }
}

/* Styles for medium and large screens */
@media screen and (min-width: 426px) {
  .dropdown {
    display: none;
  }

  .menu-large {
    display: block;
  }

  .hero img {
    height: 30%;
    width: 30%;
  }
}

@media screen and (min-width: 350px) {
  #certifications {
    height: 100vh;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
    cursor: pointer;
    font-size: 15px;
  }

  .hero img {
    height: 33%;
    width: 33%;
  }

  .hero p {
    align-items: center;
  }

  .hero__description p {
    font-size: 10px;
  }
}

@media screen and (min-width: 320px) {
  #certifications {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
    cursor: pointer;
    font-size: 15px;
  }
  .hero__description p {
    font-size: 12px;
  }
}
